= simple_form_for group, remote: @group.persisted?, validate: true do |f|
  = f.input :name, hint: 'Gib einen Namen für die Gruppe ein, z.B. "Urlaub Portugal"'
  = f.input :description, hint: 'Beschreibe die Gruppe in einem kurzen Satz, z.B. "Unser Urlaub 2016"'
