%table.table.table-bordered.table-hover
  %tbody
    - if current_membership.liabilities.count == 0
      %tr
        %td.success Du hast keine Schulden in dieser Gruppe.
    - else
      - current_membership.liabilities.keys.each do |user|
        - amount = current_membership.liabilities[user]/100.0
        %tr
          %td= user.name
          %td
            %span.label.label-default= humanized_money_with_symbol amount
          %td
            = link_to [:new, group, :entry, entry_type: 'redemption', user_ids: [user.id], amount: amount], data: { toggle: 'modal', target: '.modal', backdrop: 'static' }, class: 'btn btn-sm btn-primary' do
              jetzt zurückzahlen
