%table.table.table-hover.table-bordered
  %tbody
    - group.memberships.each do |membership|
      %tr
        %td.col-md-1.text-center= image_tag membership.user.avatar_url, class: 'img-circle img-table'
        %td.col-md-9
          = membership.user.name
          = render 'shared/online_status', user: membership.user
        %td.col-md-2.text-right
          = render 'shared/formatted_balance', amount: membership.balance
