.col-md-6.col-centered
  .box
    .box-header
      %h3.box-title Freunde
    / /.box-header
    .box-body.no-padding
      %table.table.table-hover.table-bordered
        %tbody
          - @users.each do |user|
            %tr.clickable-row{ data: { href: user_path(user) } }
              %td.col-md-1.text-center= image_tag user.avatar_url, class: 'img-circle img-table'
              %td.col-md-11
                = user.name
                = render 'shared/online_status', user: user
    / /.box-body

:coffee
  $('.clickable-row').click ->
    window.document.location = $(this).data('href')
