hello world!
.row
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-aqua
        %i.ion.ion-chatbox-working
      .info-box-content
        %span.info-box-text= Invite.model_name.human(count: 2)
        %span.info-box-number
          = Invite.count
      / /.info-box-content
    / /.info-box
  / /.col
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-red
        %i.ion.ion-person-stalker
      .info-box-content
        %span.info-box-text= User.model_name.human(count: 2)
        %span.info-box-number
          = User.count
      / /.info-box-content
    / /.info-box
  / /.col
  / fix for small devices only
  .clearfix.visible-sm-block
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-green
        %i.ion.ion-ios-cart-outline
      .info-box-content
        %span.info-box-text Sales
        %span.info-box-number 760
      / /.info-box-content
    / /.info-box
  / /.col
  .col-md-3.col-sm-6.col-xs-12
    .info-box
      %span.info-box-icon.bg-yellow
        %i.ion.ion-ios-people-outline
      .info-box-content
        %span.info-box-text New Members
        %span.info-box-number 2,000
      / /.info-box-content
    / /.info-box
  / /.col
