@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "admin-lte";
@import "admin-lte/skins/skin-blue";
@import 'ionicons';
@import 'animate';
@import 'checkbox3';
@import 'dataTables/bootstrap/3/jquery.dataTables.bootstrap';
@import 'pace.min';
@import 'devise';

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.devise-links {
  border-top: 1px solid#888;
  padding-top: 15px;
  margin-top: 15px;
  font-size: 85%;
}

.img-table {
  width: 32px;
  margin-top: 3px;
}

ul .treeview-menu form {
  display: inline-table;
}

span.time {
  white-space: nowrap;
}

tr.comment {
  span.time {
    color: #999;
    font-size: 12px;
  }
}

.clickable-row {
  cursor: pointer;
}

.col-centered{
  float: none;
  margin: 0 auto;
}
