- require 'devise/version'
- content_for :title, 'Passwort geändert'
%p= t('.greeting', :recipient => @resource.first_name, :default => "Hello #{@resource.email}!")
%p= t('.message', :default => "We're contacting you to notify you that your password has been changed.")
